body{
    background:url(./photo-of-person-reading-1928151.jpg);
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
}
.rowHeight{
    height: 500px;
}
h1{
    color: black;
    font-size: 2.5em;
}
.bg{
    background-color: grey ;
    opacity: 0.7;
}
.footer{
    background-color: white;
    position: fixed;
    bottom: 0;
}
p{
    font-size: 18px;
    padding: 20px;
}